<VirtualHost *:80>

   ServerName {{ DomainName }}
   ServerAlias www.{{ DomainName }}
   DocumentRoot /var/www/html/foc.com/public_html/restaurants/{{CompanyID}}

   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined

<Directory /var/www/html/foc.com/public_html/restaurants>
  Options Indexes FollowSymLinks MultiViews
  AllowOverride All
  Require all granted
</Directory>


</VirtualHost>
