<VirtualHost *:80>

   ServerName {{ DomainName }}
   ServerAlias www.{{ DomainName }}
   DocumentRoot /var/www/public_html/sagaedge/admin/companies/{{CompanyID}}

   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined

<Directory /var/www/>
  Options Indexes FollowSymLinks MultiViews
  AllowOverride All
  Require all granted
</Directory>


</VirtualHost>
